spring:
  application:
    name: geteway           # Nombre del microservicio (así se registrará en Eureka)
  profiles:
    default: eureka-on      # Perfil por defecto: usará rutas basadas en Eureka

server:
  port: 4040                # Puerto en el que se ejecuta el gateway

eureka:
  client:
    fetch-registry: true    # Indica que este servicio debe obtener la lista de servicios registrados
    service-url:
      defaultZone: http://localhost:8761/eureka/        # Dirección del servidor Eureka
